<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.brunogabriel.pokemon_list">

    <application>
        <activity android:name=".presentation.PokemonMainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
